.container {
  background-color: gainsboro;
  padding: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.traficlight {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0px;
  margin: 0px 0px;
}
.box {
  margin: 10px 0px;
}

.red {
  background-color: red;
  padding: 50px;
  margin: 10px;
  border: 10px solid rgb(180, 7, 7);
}
.yellow {
  background-color: yellow;
  padding: 50px;
  margin: 10px;
  border: 10px solid rgb(166, 166, 3);
}
.green {
  background-color: green;
  padding: 50px;
  margin: 10px;
  border: 10px solid rgb(6, 182, 6);
}
